<footer class="footer sm:footer-horizontal footer-center  text-base-content p-4">
    <aside>
      <p>Copyright © <%= new Date().getFullYear()%> - All right reserved by Muba.</p>
    </aside>
  </footer>
    </body>
</html>