<div class=" mx-auto min-h-screen bg-base-100 p-4 flex justify-center items-center">
    <div class="w-fit text-center" >
        <h1 class="text-4xl font-bold "><%= title %></h1>
        <p class="text-lg"><%= message %></p>
    </div>
</div>
