<%- include('./partials/head') -%>
<div  class="min-h-screen  bg-base-200 mx-auto  px-6 py-8 flex flex-col gap-4 items-center justify-center">
    
    <img src="/images/muba-nobg.png" alt="" class="w-[min(60%,200px)]  mx-auto">
    <div class="w-full max-w-sm mx-auto max-h-fit  bg-base-100 shadow p-8 rounded-box">
        <h1 class=" text-center mb-4"><%= message %></h1>
   
        <div class="mt-4 flex  gap-3">
           
            <a href="/" class="btn  rounded-full btn-square  " >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                  </svg>
                  
            </a>
            <div class="tooltip tooltip-left p-0 w-full" data-tip="register using google">
                <a href="/auth/google" class="btn w-full flex-grow  rounded-full ">
                
                    <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="h-[18px] w-[18px] uppercase"> 
                    Sign up with google
                </a>
            </div>
        </div>
        
    </div>
    
    
  </div>
</body>
</html>